*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;

}
:root{
    --background-color: #FFEFD6;
    --primary-color: #B8000C;
    --accent1-color: #2C7209;
    --accent2-color: #022078;
    --accent4-color: #FF810A;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--background-color);
}
.header{
    background-color: var(--background-color);
}
.scrolling-content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 120px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
/* want to add underline animation when mouse hovers, & click */
a{
    text-decoration: none;
    color: #B8000C;
    font-size: 25px;
    position: relative;
}
a:hover{
    text-decoration: underline;
    color: var(--accent4-color);
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-left{
    width: 50%;
    height: 100vh;
    margin: 5px;
    padding: 5px;
}
.flex-right{
    width: 50%;
    margin: 5px;
    padding: 5px;
}
hr{
    background: var(--accent2-color);
    height: 3px;
    border: none;
}
.header-line{
    background: var(--accent2-color);
    height: 3px;
    border: none;
}
h1{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: var(--font-weight-semibold);
    line-height: 60px;
    letter-spacing: 0;
}
h2{
    color: var(--accent1-color);
    font-size: 30px;
    font-weight: var(--font-weight-semibold);
    line-height: 40px;
    letter-spacing: 0;
}
h3{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    /*line-height: 30px;*/
    letter-spacing: 0;
}
.price{
    color: var(--accent2-color);
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 30px;
}
p{
    color: var(--accent2-color);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 25px;
}

.accordion .label {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    
  }
.accordion .container {
    position: relative;
    margin: 10px 10px;
}
.label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(0%);
}
.accordion .content {
    position: relative;
    background: transparent;
    height: 0;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }

.container.active .content{
    height: 100%;
}

.container.active .label::before{
    content: '-';
}
img {
    position: relative; 
    justify-content: center;
    
}
/*consider using https://fonts.google.com/ */



