*{
    font-family: 'Alegreya Sans', sans-serif; 
    margin: 10px;
    box-sizing: border-box;

}
:root{
    --background-color: #FFEFD6;
    --primary-color: #B8000C;
    --accent1-color: #2C7209;
    --accent2-color: #022078;
    --accent4-color: #FF810A;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--background-color);
}
.header{
    background-color: var(--background-color);
}
.scrolling-content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 120px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
/* want to add underline animation when mouse hovers, & click */
a{
    text-decoration: none;
    color: #B8000C;
    font-size: 25px;
    position: relative;
}
a:hover{
    text-decoration: underline;
    color: var(--accent4-color);
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-left{
    width: 50%;
    height: 100vh;
    margin: 5px;
    padding: 5px;
}
.flex-right{
    width: 50%;
    margin: 5px;
    padding: 5px;
}
hr{
    background: var(--accent2-color);
    height: 3px;
    border: none;
}
.header-line{
    background: var(--accent2-color);
    height: 3px;
    border: none;
}
h1{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: var(--font-weight-semibold);
    line-height: 60px;
    letter-spacing: 0;
}
h2{
    color: var(--accent1-color);
    font-size: 30px;
    font-weight: var(--font-weight-semibold);
    line-height: 40px;
    letter-spacing: 0;
}
h3{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    /*line-height: 30px;*/
    letter-spacing: 0;
}
.price{
    color: var(--accent2-color);
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 30px;
}
p{
    color: var(--accent2-color);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 25px;
}

.accordion .label {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    
  }
.accordion .container {
    position: relative;
    margin: 10px 10px;
}
.label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    color: var(--accent2-color);
    font-size: 25px;
    transform: translateY(0%);
}
.container.active .label::before{
    content: '-';
}
.accordion .content {
    position: relative;
    background: transparent;
    height: 0;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }

.container.active .content{
    height: 100%;
}

img {
    position: relative; 
    justify-content: center;
}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slide-img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 5000px;
    height: 4000px;
    object-fit: cover;
}
.back , .forward{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.forward{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.back:hover, .forward:hover{
    background-color: black;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    animation-name: slider;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes slider{
    0% { transform: translateX(0px); }
	20% { transform: translateX(0px); }
	25% { transform: translateX(800px); }
	45% { transform: translateX(800px); }
    50% { transform: translateX(1600px); }
	70% { transform: translateX(1600px); }
	75% { transform: translateX(2400px); }
	95% { transform: translateX(2400px); }
	100% { transform: translateX(0px);  }
}
/*consider using https://fonts.google.com/ */



